@model RegisterVM

<div class="container vh-100 d-flex justify-content-center align-items-center">

    <div class="card shadow-lg border-0" style="width: 450px;">

        <div class="card-header bg-dark text-white text-center">
            <h4 class="mb-0">Register</h4>
        </div>

        <div class="card-body">

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label fw-semibold"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label fw-semibold"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="ConfirmPassword" class="form-label fw-semibold"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">
                        Register
                    </button>
                </div>

                <div class="text-center mt-3">
                    <a asp-action="Login" class="text-decoration-none">
                        Already have an account? Login
                    </a>
                </div>

            </form>

        </div>

    </div>

</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>